<launch>
  <arg name="teb" default="true"/>
  <arg name="imu" default="false"/>
  <arg name="map_file" default="$(find dashgo_gazebo)/maps/retest_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="initial_pose_x" default="0.0"/> 
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find dashgo_gazebo)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
  
  <include file="$(find dashgo_gazebo)/launch/includes/move_base.launch.xml">
    <arg name="teb_move_base"   default="$(arg teb)"/>
    <arg name="with_imu"   default="$(arg imu)"/>
  </include>
  
  <!-- add a tool to fix tf broadcaster missing -->
  <node pkg="dashgo_gazebo" type="odom_transformer.py" name="odom_transformer" output="screen"/>
  
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
</launch>
